$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
#211F20;

$footer-gradient-background: url(../../assets/images/noise_transparent@2x.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;

$card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@font-face {
  font-family: Georgia;
}

@mixin h2 {
  font: {
    family: Georgia, Serif;
    size: 4.4rem;
    weight: 400;
  };
}

@mixin h3 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 3.5rem;
  };
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: $color-dark-l;
}

@mixin h4 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 2rem;
  };
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: $color-dark-l;
}

@mixin h5 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial, sans-serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 160%;
  color: $color-dark-l;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: normal;
    size: 1.2rem;
  };
  line-height: 150%;
}

@mixin logo-title {
  font: {
    family: Georgia;
    size: 3.2rem;
  };
  line-height: 110%;
  letter-spacing: 0.192rem;
}

@mixin logo-subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.3rem;
  };
  letter-spacing: 0.13rem;
  line-height: 110%;
}

@mixin slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: none;
  box-shadow: inset 0 0 0 0.3rem $color-primary;
  border-radius: 100%;
  padding: 1.9rem;
  background: transparent;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: transparent;

  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
}

@mixin button() {
  border-radius: 100px;
  font-family: Georgia, serif;
  font-size: 17px;
  padding: 1.5rem 4.5rem;
  letter-spacing: 0.0108rem;
  cursor: pointer;
  outline: transparent;
  border: none;
  transition-duration: 0.3s;
  color: $color-dark-3xl;
}

@mixin button-primary() {
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-light;
  }
  @include button;
}

@mixin button-secondary() {
  background: transparent;
  box-shadow: inset 0 0 0 2px $color-primary;
  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
  @include button;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
}

body > div.bg > header {
  width: 100%;
  padding: 6rem;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-right: 8.1rem;

  &__title {
    color: $color-primary;
    @include logo-title;
    white-space: nowrap;

  }

  &__subtitle {
    margin-top: 10px;
    color: $color-light-xl;
    text-align: center;
    @include logo-subtitle;
  }
}

.menu {
  display: flex;
  width: 44.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-bottom: 0.4rem;
  list-style-type: none;

  .list__item {
    display: flex;
    align-items: center;
    color: $color-light-s;


    .list__link {
      font-family: Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 160%;
      cursor: pointer;

      &_active {
        border-bottom: solid 3px $color-primary;
        padding-top: 0.5rem;

        &:hover {
          border-bottom: transparent;
        }
      }

      &_disabled {
        color: $color-dark-s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.bg {
  background: $start-screen-gradient-background;
}

.hero {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    align-items: flex-start;
  }

  &__title {
    padding: 0 0 4rem 0;
    max-width: 31rem;
    color: $color-light-xl;
    line-height: 130%;
    @include h2;
  }

  &__subtitle {
    padding-bottom: 1rem;
    max-width: 46rem;
    color: $color-dark-s;
    font-family: Arial, sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__button {
    @include button-primary();
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
  }

  .puppy-bg {
    padding: 0 0 0 4rem;
  }
}

.about {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem 17.5rem;
  }

  & .wrapper {
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 43rem;
    margin-left: 12rem;
  }

  &__title {
    span {
      display: block;
    }
  ;
    color: $color-dark-l;
    @include h3;
  }

  &__description {
    margin-top: 2.5rem;

    p {
      &:nth-child(2) {
        margin-top: 2.5rem;
      }

      color: $color-dark-l;
      @include paragraph-l;
    }
  }
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background: $color-light-l;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    span {
      display: block;
      letter-spacing: 0.2rem;
    }

    max-width: 40rem;
    text-align: center;
    color: $color-dark-l;
    @include h3;
  }

  &__content {
    display: flex;
    align-items: center;

    .slider-button {
      @include slider-button;
      outline: transparent;
    }

    .slider-button_right {
      @include slider-button;
      transform: scaleX(-1);
      outline: transparent;
    }

    &__cards {
      display: flex;
      padding: 6rem 0.8rem;

      .card {
        display: flex;
        flex-direction: column;
        border-radius: 0.9rem;
        margin: 0 4.5rem;

        &:hover {
          box-shadow: $card-hover;
        }

        &__image {
          width: 100%;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 3rem;
          background: #fafafa;
        }

        &__title {
          margin: 3rem 0;
          @include h4;
        }

        &__button {
          @include button-secondary;
          letter-spacing: 0.09rem;
        }
      }
    }
  }

  &__button {
    @include button-primary;
    width: 26rem;
    letter-spacing: 0.09rem;
    padding: 1.8rem 4.5rem
  }
}

.help {
  padding-top: 8rem;
  padding-bottom: 10rem;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include h3;
    text-align: center;

    span {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    //padding-top: 60px;
    max-width: 102.6rem;
    max-height: 28.1rem;
    margin-top: 6rem;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 8rem;


    .help__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        margin-top: 2rem;
        @include h4;
      }
    }

    .help__item:nth-child(6) {
      margin-left: 8.5rem;
    }

    .help__item:nth-child(9) {
      margin-right: 8.5rem;
    }

    .help__item:nth-child(n+6) {
      margin-top: 5.5rem;
    }

    .help__icon {
      margin-bottom: 1rem;
    }
  }
}

.donation {
  background: $color-light-l;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 8rem 14.2rem 0 14.2rem;
    margin-bottom: 10.2rem;

    &__image {
      padding-top: 1rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3rem;

      span {
        display: block;
      }

      h3 {
        @include h3;
      }

      h5 {
        @include h5;
        padding-top: 2.5rem;
      }

      .donation__credit {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 4.3rem;
        width: 34.9rem;
        border-radius: 0.9rem;
        background-color: $color-primary;
        margin-top: 1.8rem;
        padding-top: 1rem;

        &__number {
          @include h4;
          cursor: pointer;
        }
      }

      p {
        @include paragraph-s;
        padding-top: 2rem;
        color: $color-dark-m;
      }
    }
  }
}

.footer {
  background: $footer-gradient-background;

  &__wrapper {
    width: 100%;
    //height: 35rem;
    margin-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-1 {
      max-width: 30rem;
      height: 23.4rem;

      &__email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25.1rem;
        padding-top: 4.5rem;

      }

      &__phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 23.9rem;
        padding-top: 4.3rem;
      }


    }

    &-2 {
      display: flex;
      flex-direction: column;
      width: 30.2rem;
      height: 23.4rem;
      margin-right: 2rem;

      span {
        display: block;
      }

      h3 {
        max-width: 32.5rem;
      }

      &__address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //width: 26rem;
        margin-top: 3rem;

        h4 {
          padding-left: 2rem;
        }
      }

      &__city {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        width: 27rem;
      }
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-image {
      margin-top: 4rem;
    }

    h3 {
      @include h3;
      color: $color-light-xl;

    }

    h4 {
      @include h4;
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  body > div.bg > header {
    padding: 3rem;
  }

  .hero {
    flex-wrap: wrap;

    &__content {
      flex-direction: column;
      align-items: center;
      //padding: 3rem 0 0 8rem;
      margin: 3rem 0 0 8rem;
    }

    .puppy-bg {
      padding: 6.1rem 0 0 17rem;
      width: 73.9rem;
    }

    &__title {
      padding: 0 0 3rem 0;
      margin-right: 8rem;
    }

    &__subtitle {
      padding: 0;
      margin-top: 1.2rem;
      margin-left: 7.4rem;
    }

    &__button {
      margin: 4.5rem 0 0 7.2rem;
    }
  }

  .about {
    &__wrapper {
      flex-direction: column-reverse;
      padding: 8rem 18rem 10rem 17rem;
    }

    &__content {
      margin: 0;
    }

    &__description p {
      width: 43rem;
    }

    &__image-wrapper {
      padding-top: 8rem;
      padding-left: 6rem;
    }
  }

  .pets {
    &__content {
      &__cards {
        padding: 6rem 0;

        .card:nth-child(1) {
          margin: 0 2rem 0 1rem;
        }

        .card:nth-child(2) {
          margin: 0 1rem 0 2rem;
        }

        .card:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .help {
    margin-bottom: 16.6rem;

    &__content {
      width: 63rem;
      height: 44.9rem;

      .help__item:nth-child(n+6) {
        margin: 0;
      }

      .help__item:nth-child(1) {
        padding-left: 4.5rem;
      }

      .help__item:nth-child(2) {
        padding-right: 1rem;
      }

      .help__item:nth-child(3) {
        padding-right: 5.5rem;
      }

      .help__item:nth-child(4) {
        padding-left: 1rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(5) {
        padding-top: 5.6rem;
        padding-right: 3rem;
      }

      .help__item:nth-child(6) {
        padding-right: 4rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(7) {
        padding-left: 3.4rem;
        padding-top: 5.4rem;
      }

      .help__item:nth-child(8) {
        padding-left: 1.3rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(9) {
        padding-right: 1rem;
        padding-top: 5.4rem;
      }

    }
  }
}


