$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
#211F20;

$footer-gradient-background: url(../../assets/images/noise_transparent@2x.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;

$card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@font-face {
  font-family: Georgia;
}

@mixin h2 {
  font: {
    family: Georgia, Serif;
    size: 4.4rem;
    weight: 400;
  };
}

@mixin h3 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 3.5rem;
  };
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: $color-dark-l;
}

@mixin h4 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 2rem;
  };
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: $color-dark-l;
}

@mixin h5 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial, sans-serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 160%;
  color: $color-dark-l;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: normal;
    size: 1.2rem;
  };
  line-height: 150%;
}

@mixin logo-title {
  font: {
    family: Georgia;
    size: 3.2rem;
  };
  line-height: 110%;
  letter-spacing: 0.192rem;
}

@mixin logo-subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.3rem;
  };
  letter-spacing: 0.13rem;
  line-height: 110%;
}

@mixin slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: none;
  box-shadow: inset 0 0 0 0.3rem $color-primary;
  border-radius: 100%;
  padding: 1.9rem;
  background: transparent;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
}

@mixin button() {
  border-radius: 100px;
  font-family: Georgia, serif;
  font-size: 17px;
  padding: 1.5rem 4.5rem;
  letter-spacing: 0.0108rem;
  cursor: pointer;
  outline: transparent;
  border: none;
  transition-duration: 0.3s;
  color: $color-dark-3xl;
}

@mixin button-primary() {
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-light;
  }
  @include button;
}

@mixin button-secondary() {
  background: transparent;
  box-shadow: inset 0 0 0 2px $color-primary;
  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
  @include button;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
}

body > div.bg > header {
  width: 100%;
  padding: 6rem;
}

.logo {
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-primary;
    @include logo-title;
  }

  &__subtitle {
    margin-top: 10px;
    color: $color-light-xl;
    text-align: center;
    @include logo-subtitle;
  }
}

.menu {
  display: flex;
  width: 44.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-bottom: 0.4rem;
  list-style-type: none;

  .list__item {
    display: flex;
    align-items: center;

    .list__link {
      color: $color-light-xl;
      font-family: Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 160%;

      &_active {
        border-bottom: solid 3px $color-primary;
      }

      &_disabled {
        color: $color-dark-s;
      }
    }
  }
}

.bg {
  background: $start-screen-gradient-background;
}

.hero {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    align-items: flex-start;
  }

  &__title {
    padding: 0 0 4rem 0;
    max-width: 31rem;
    color: $color-light-xl;
    line-height: 130%;
    @include h2;
  }

  &__subtitle {
    padding-bottom: 1rem;
    max-width: 46rem;
    color: $color-dark-s;
    font-family: Arial, sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__button {
    @include button-primary();
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;

  }

  .puppy-bg {
    padding: 0 0 0 4rem;
  }
}

.about {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem 17.5rem;
  }

  & .wrapper {
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 43rem;
    margin-left: 12rem;
  }

  &__title {
    span {
      display: block;
    }
  ;
    color: $color-dark-l;
    @include h3;
  }

  &__description {
    margin-top: 2.5rem;

    p {
      &:nth-child(2) {
        margin-top: 2.5rem;
      }

      color: $color-dark-l;
      @include paragraph-l;
    }
  }
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background: $color-light-l;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    span {
      display: block;
      letter-spacing: 0.2rem;
    }

    max-width: 40rem;
    text-align: center;
    color: $color-dark-l;
    @include h3;
  }

  &__content {
    display: flex;
    align-items: center;

    .slider-button {
      @include slider-button;
      outline: transparent;
    }

    .slider-button_right {
      @include slider-button;
      transform: scaleX(-1);
      outline: transparent;
    }

    &__cards {
      display: flex;
      padding: 6rem 0.8rem;

      .card {
        display: flex;
        flex-direction: column;
        border-radius: 0.9rem;
        margin: 0 4.5rem;

        &:hover {
          box-shadow: $card-hover;
        }

        &__image {
          width: 100%;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 3rem;
        }

        &__title {
          margin: 3rem 0;
          @include h4;
        }

        &__button {
          @include button-secondary;
          letter-spacing: 0.09rem;
        }
      }
    }
  }

  &__button {
    @include button-primary;
    width: 26rem;
    letter-spacing: 0.09rem;
    padding: 1.8rem 4.5rem
  }
}

.help {
  padding-top: 8rem;
  padding-bottom: 10rem;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include h3;
    text-align: center;

    span {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    //padding-top: 60px;
    width: 100%;
    margin-top: 6rem;

    &__5-items {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      padding: 0 8.7rem;
    }

    &__4-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      margin: 5.5rem 17rem 0 17rem;

    }

    .help__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        margin-top: 2rem;
        @include h4;
      }
    }

    .help__icon {
      margin-bottom: 1rem;
    }
  }
}

.donation {
  background: $color-light-l;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 8rem 14.2rem 0 14.2rem;
    margin-bottom: 10rem;

    &__image {
      padding-top: 1.3rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3rem;

      span {
        display: block;
      }

      h3 {
        @include h3;
      }

      h5 {
        @include h5;
        padding-top: 2.5rem;
      }

      .donation__credit {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 4.3rem;
        width: 34.9rem;
        border-radius: 0.9rem;
        background-color: $color-primary;
        margin-top: 1.8rem;
        padding-top: 1rem;

        h4 {
          @include h4;
        }
      }

      p {
        @include paragraph-s;
        padding-top: 2rem;
        color: $color-dark-m;
      }
    }
  }

}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    flex-direction: column;
    align-items: center;
  }
}

