* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}

body {
  margin: 0;
  background-color: black;

}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;

}

.header {
  width: 100vw;

}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 6%;
  line-height: 110%;
}


.logo__subtitle {
  //color: #fff;
  letter-spacing: 10%;
  font-size: 13px;
  line-height: 110%;
}

.menu {
  display: flex;
  width: 443px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.list__link_active {
  border-bottom: solid 3px #F1CDB3;
}

.list__link_disabled {
  color: #CDCDCD;
}

.hero {
  display: flex;
  background-color: black;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  color: #fff;
}

.hero-subtitle {
  color: #CDCDCD;
}
