$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl:  #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

@mixin h2 {
  font: {
    family: Georgia;
    size: 4.4rem;
    weight: 400;
  };
}

@mixin h3 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 35px;
  };
  line-height: 130%;
  letter-spacing: 0.06em;
}

@mixin h4 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 20px;
  };
  line-height: 115%;
  letter-spacing: 0.06em;
}

@mixin h5 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 15px;
  };
  line-height: 110%;
  letter-spacing: 0.06em;
}

:root {
  font-size: 10px;
}

* {

  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
}

body > div.bg > header {
  width: 100%;
  padding: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: $color-primary;
  font-family: Georgia;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: $color-light-xl;
  letter-spacing: 0.02rem;
  font-size: 1.7rem;
  line-height: 110%;
  text-align: center;
}

.menu {
  display: flex;
  width: 443px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: $color-light-xl;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
}

.list__link_active {
  border-bottom: solid 3px $color-primary;
}

.list__link_disabled {
  color: $color-dark-s;
}

.bg {
  background: url(../../assets/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
}

.hero {
  display: flex;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}

.hero-title {
  padding: 0 0 4rem 0;
  max-width: 31rem;
  color: $color-light-xl;
  line-height: 130%;
  @include h2;
}

.hero-subtitle {
  padding-bottom: 1rem;
  max-width: 46rem;
  color: $color-dark-s;
  font-family: Arial;
  line-height: 160%;
  font-weight: 400;
  font-size: 15px;
}

.hero-button {
  width: 207px;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  background-color: $color-primary;
  border: none;
  padding: 15px 45px;
  letter-spacing: 0.06rem;
}

.puppy-bg {
  padding: 0 0 0 4rem;
}
