@import "../main/main";

header {
  margin: 3rem;

  .logo {
    &__title {
      color: $color-dark-l;
    }

    &__subtitle {
      color: $color-dark-3xl;
    }
  }

  .list__link_disabled {
    color: $color-dark-l;

  }

}

.list {
  .list__item {

    .list__link {
      color: $color-dark-l;

      &_active {
        color: $color-dark-3xl;
      }

      &_disabled {

      }
    }
  }
}

.pets__content__cards {
  flex-wrap: wrap;
  padding: 6rem 0;

  .card {
    margin: 0 2rem 3.5rem;

    &__left-side {
      margin-left: 0;
    }

    &__right-side {
      margin-right: 0;
    }

    &__content {
      background: #fafafa;
    }
  }

  .break {
    width: 100%;
  }

}

.pets {
  background: $color-light-l;

  &__wrapper {
    display: grid;
    place-items: center;
  }

}


