@import "../main/css/main";


body > div.wrapper > header {
  margin: 0;

}

.burger-logo {
  padding-right: 7rem;
}

header {
  padding: 3rem 4rem;

  .logo {
    &__title {
      color: $color-dark-l;
    }

    &__subtitle {
      color: $color-dark-3xl;
    }
  }

  .list__link_disabled {
    color: $color-dark-l;

  }
}

.logo_link {
  text-decoration: none;
}

#menu-list {
  .list__item {

    .list__link {
      color: $color-dark-l;
      text-decoration: none;

      &:hover {
        color: $color-dark-3xl
      }

      &_active {
        color: $color-dark-3xl;
      }

      &_disabled {
        color: $color-dark-l;
      }
    }
  }
}

.pets__content__cards {
  //flex-wrap: wrap;
  //padding: 6.2rem 4rem 2.7rem 4rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 59px 30px 30px 30px;

  .slides {
    display: flex;
    position: relative;
    left: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;

    .card {
      padding-bottom: 30px;
      margin: 0 10px 30px 10px;
      background: #fafafa;
      border-radius: 9px;
      transition: 0.3s ease-in-out;

      h4 {
        @include h4;
      }
    }
  }
}

.pets {
  padding-bottom: 9.8rem;
  background: $color-light-l;

  &__wrapper {
    //display: grid;
    //place-items: center;
  }

  .pagination {
    display: flex;
    flex-direction: row;

    .disabled {
      box-shadow: inset 0 0 0 0.3rem $color-dark-s;
      color: $color-dark-s;

      &:hover {
        cursor: default;
        box-shadow: inset 0 0 0 0.3rem $color-dark-s;
        background-color: $color-light-s;
      }
    }

    &__button {
      @include slider-button;
      @include h4;
      margin: 0 1rem;

      .active {
        background-color: $color-primary;
        box-shadow: inset 0 0 0 0.3rem $color-primary;

        &:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }
}

.to-left {
  animation: left 0.5s ease-in-out;
}

.to-right {
  animation: left 0.5s ease-in-out reverse;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}


//-----MEDIA-----

//---TABLET---
@media screen and (max-width: 1279px) {
  header {
    padding: 3rem;
  }

  .pets {
    padding-bottom: 7.6rem;

    &__content {
      &__cards {
        justify-content: center;
        padding: 0;
        margin-top: 1rem;

        .card {

          &:nth-child(n) {
            margin: 2rem;
          }

          &:nth-child(3) {
            display: flex;
          }

          &:nth-child(n+8) {
            display: none;
          }

          &:nth-child(n+3) {
            margin-top: 1.3rem;
          }

          &:nth-child(7) {
            margin-top: 1.1rem;
          }

        }
      }
    }
  }

  .pagination {
    margin-top: 2rem;
  }

}

@media screen and (max-width: 768px) {
  header {
    padding-top: 3rem;
    padding-left: 1rem;
  }

  body > div.pets > div > div > div.pets__content > div > div > div:nth-child(2) {
    display: flex;
  }
  .block-slides .slides .card:nth-child(4),
  .block-slides .slides .card:nth-child(5),
  .block-slides .slides .card:nth-child(6) {
    display: none;
  }


  .pets__wrapper {
    padding: 0;
  }
  .block-slides {
    max-width: 576px;
    padding: 42px 74px 12px 74px;
  }

  .slides {
    flex-direction: column;
  }
}


