$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../../assets/images/noise_transparent@2x.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
#211F20;

$footer-gradient-background: url(../../../assets/images/noise_transparent@2x.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;

$card-hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@font-face {
  font-family: Georgia;
}

@mixin h2 {
  font: {
    family: Georgia, Serif;
    size: 4.4rem;
    weight: 400;
  };
}

@mixin h3 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 3.5rem;
  };
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: $color-dark-l;
}

@mixin h4 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 2rem;
  };
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: $color-dark-l;
}

@mixin h5 {
  font: {
    family: Georgia, Serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial, sans-serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  };
  line-height: 160%;
  color: $color-dark-l;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: normal;
    size: 1.2rem;
  };
  line-height: 150%;
}

@mixin logo-title {
  font: {
    family: Georgia;
    size: 3.2rem;
  };
  line-height: 110%;
  letter-spacing: 0.192rem;
}

@mixin logo-subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.3rem;
  };
  letter-spacing: 0.13rem;
  line-height: 110%;
}

@mixin slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: none;
  box-shadow: inset 0 0 0 0.3rem $color-primary;
  border-radius: 100%;
  padding: 1.9rem;
  background: transparent;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: transparent;

  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
}

@mixin button() {
  border-radius: 100px;
  font-family: Georgia, serif;
  font-size: 17px;
  padding: 1.5rem 4.5rem;
  letter-spacing: 0.0108rem;
  cursor: pointer;
  outline: transparent;
  border: none;
  transition-duration: 0.3s;
  color: $color-dark-3xl;
}

@mixin button-primary() {
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-light;
  }
  @include button;
}

@mixin button-secondary() {
  background: transparent;
  box-shadow: inset 0 0 0 2px $color-primary;
  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
  @include button;
}

@mixin paragraph-mobile-menu() {
  //font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
}


:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 6rem 4rem;
  transition: 400ms;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-right: 8.1rem;


  &__title {
    color: $color-primary;
    @include logo-title;
    white-space: nowrap;

  }

  &__subtitle {
    margin-top: 10px;
    color: $color-light-xl;
    text-align: center;
    @include logo-subtitle;
  }
}

.menu {
  display: flex;
  width: 47.3rem;

  .burger-button {
    visibility: collapse;
  }

}

#menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding-bottom: 0.4rem;
  list-style-type: none;

  .list__item {
    display: flex;
    align-items: center;
    color: $color-light-s;
    text-decoration: none;

    .list__link {
      text-decoration: none;
      font-family: Arial, sans-serif;
      font-size: 1.5rem;
      line-height: 160%;
      cursor: pointer;

      &_active {
        color: $color-light-s;
        border-bottom: solid 3px $color-primary;
        padding-top: 0.5rem;

        &:hover {
          border-bottom: transparent;
        }
      }

      &_disabled {
        color: $color-dark-s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.bg {
  background: $start-screen-gradient-background;
}

.hero {
  display: flex;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    align-items: flex-start;

  }

  &__title {
    padding: 0 0 4rem 0;
    max-width: 31rem;
    color: $color-light-xl;
    line-height: 130%;
    @include h2;
  }

  &__subtitle {
    padding-bottom: 1rem;
    max-width: 46rem;
    color: $color-dark-s;
    font-family: Arial, sans-serif;
    line-height: 160%;
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__button {
    @include button-primary();
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    letter-spacing: 0.1rem;
  }

  .puppy-bg {
    padding: 0 0 0 4rem;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  background-color: $color-light-xl;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem 17.5rem;
  }

  & .wrapper {
    justify-content: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 43rem;
    margin-left: 12rem;
  }

  &__title {
    span {
      display: block;
    }
  ;
    color: $color-dark-l;
    @include h3;
  }

  &__description {
    margin-top: 2.5rem;

    p {
      &:nth-child(2) {
        margin-top: 2.5rem;
      }

      color: $color-dark-l;
      @include paragraph-l;
    }
  }
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background: $color-light-l;



  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    span {
      display: block;
      letter-spacing: 0.2rem;
    }

    max-width: 40rem;
    text-align: center;
    color: $color-dark-l;
    @include h3;
  }

  //.swiper-container {
  //  width: 120rem;
  //
  //  height: 435px;
  //}

  &__content {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 120rem;

    justify-content: space-between;


    .slider-button {
      @include slider-button;
      outline: transparent;
      //z-index: 1;
    }

    .slider-button.right {
      @include slider-button;
      transform: scaleX(-1);
      outline: transparent;
    }

    &__cards {
      display: flex;
      min-width: 0;
      position: relative;
      padding: 59px 8px;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;

      .slide {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0;
        justify-content: space-around;
        width: 100%;
        min-width: 100%;

        &.to-left {
          animation: left 0.5s ease-in-out;
        }
        &.to-right {
          animation: left 0.5s ease-in-out reverse;
        }
      }
      .card {
        display: block;
        flex-direction: column;
        border-radius: 0.9rem;
        margin: 0 4.5rem;
        min-width: 0;
        max-width: 27rem;
        flex-shrink: 0;
        text-align: center;
        background-color: #fafafa;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: $card-hover;
        }

        &__image {
          width: 100%;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 3rem;
          background: #fafafa;
          min-width: 0;
        }

        h4 {
          margin: 3rem 0;
          @include h4;
        }

        button {
          @include button-secondary;
          letter-spacing: 0.09rem;
          margin-bottom: 3rem;
        }
      }
    }
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  &__button {
    @include button-primary;
    width: 26rem;
    letter-spacing: 0.09rem;
    padding: 1.8rem 4.5rem
  }
}

.help {
  background-color: $color-light-xl;
  padding-top: 8rem;
  padding-bottom: 10rem;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include h3;
    text-align: center;

    span {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    //padding-top: 60px;
    max-width: 102.6rem;
    max-height: 28.1rem;
    margin-top: 6rem;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 8rem;


    .help__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        margin-top: 2rem;
        @include h4;
      }
    }

    .help__item:nth-child(6) {
      margin-left: 8.5rem;
    }

    .help__item:nth-child(9) {
      margin-right: 8.5rem;
    }

    .help__item:nth-child(n+6) {
      margin-top: 5.5rem;
    }

    .help__icon {
      margin-bottom: 1rem;
    }
  }
}

.donation {
  background: $color-light-l;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 8rem 14.2rem 0 18.2rem;
    margin-bottom: 10.2rem;

    &__image {
      padding-top: 1rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3rem;

      span {
        display: block;
      }

      h3 {
        @include h3;
      }

      h5 {
        @include h5;
        padding-top: 2.2rem
      }

      .donation__credit {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 4.3rem;
        width: 34.9rem;
        border-radius: 0.9rem;
        background-color: $color-primary;
        margin-top: 1.8rem;
        padding-top: 1rem;

        &__number {
          @include h4;
          cursor: pointer;
        }
      }

      p {
        @include paragraph-s;
        padding-top: 2rem;
        color: $color-dark-m;
      }
    }
  }
}

.footer {
  background: $footer-gradient-background;

  &__wrapper {
    width: 100%;
    //height: 35rem;
    //margin-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-1 {
      max-width: 30rem;
      height: 23.4rem;
      margin-left: 4rem;
      margin-bottom: 0.4rem;

      &__email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25.1rem;
        padding-top: 4.2rem

      }

      &__phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 23.9rem;
        padding-top: 4.3rem;

        h4 {
          padding-top: 0.5rem;
        }
      }
    }

    &-2 {
      display: flex;
      flex-direction: column;
      width: 30.2rem;
      height: 23.4rem;
      margin-right: 2rem;

      span {
        display: block;
      }

      h3 {
        max-width: 32.5rem;
      }

      &__address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;

        h4 {
          padding-left: 2rem;
        }
      }

      &__city {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3.4rem;
        width: 27rem;

        h4 {
          margin-top: 0.5rem;
        }
      }
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-image {
      margin-top: 4rem;
      margin-right: 4rem;
    }

    h3 {
      @include h3;
      color: $color-light-xl;

    }

    h4 {
      @include h4;
      color: $color-primary;
    }
  }
}

#burger-menu-bg {
  //visibility: hidden;
  //transition: all 0.4s ease 0s;
  right: -1400px;
  transition: 600ms;
  display: flex;
  visibility: visible;
  height: 823px;
  width: 320px;
  position: fixed;
  background-color: $color-dark-3xl;
  z-index: 1;
}

//-----MEDIA-----

//---TABLET---
@media screen and (max-width: 1279px) {

  body {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 76.8rem;
  }
  header {
    padding: 3rem;

    .logo {
      margin-right: 4.1rem;
    }
  }

  .hero {
    flex-wrap: wrap;

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      padding-right: 7rem;
      flex-direction: column;
      align-items: center;
      margin: 3rem 0 0 0;
    }

    .puppy-bg {
      padding: 5.9rem 0 0 14.1rem;
      width: 71.2rem;
    }

    &__title {
      padding: 0 0 3rem 0;
      margin-right: 8rem;
    }

    &__subtitle {
      padding: 0;
      margin-top: 1.2rem;
      margin-left: 7.4rem;
    }

    &__button {
      margin: 4.5rem 0 0 6.8rem;
    }
  }

  .about {
    &__wrapper {
      flex-direction: column-reverse;
      padding: 8rem 16rem 9.7rem 16rem;
    }

    &__content {
      margin: 0;
    }

    &__description p {
      width: 43rem;
    }

    &__image-wrapper {
      padding-top: 8rem;
      padding-left: 6.5rem;
    }
  }

  .pets {
    padding-top: 8.2rem;

    &__content {
      width: 70.8rem;
      &__cards {
        padding: 6rem 0;

        .card:nth-child(1) {
          margin: 0 2rem 0 1rem;
        }

        .card:nth-child(2) {
          margin: 0 1rem 0 2rem;
        }

        .card:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .help {
    //margin-bottom: 16.9rem;
    padding-bottom: 26.8rem;

    &__content {
      width: 63rem;
      height: 44.9rem;

      .help__item:nth-child(n+6) {
        margin: 0;
      }

      .help__item:nth-child(1) {
        padding-left: 4.5rem;
      }

      .help__item:nth-child(2) {
        padding-right: 1rem;
      }

      .help__item:nth-child(3) {
        padding-right: 5.5rem;
      }

      .help__item:nth-child(4) {
        padding-left: 1rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(5) {
        padding-top: 5.6rem;
        padding-right: 3rem;
      }

      .help__item:nth-child(6) {
        padding-right: 4rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(7) {
        padding-left: 3.4rem;
        padding-top: 5.4rem;
      }

      .help__item:nth-child(8) {
        padding-left: 1.3rem;
        padding-top: 5.6rem;
      }

      .help__item:nth-child(9) {
        padding-right: 1rem;
        padding-top: 5.4rem;
      }

    }
  }

  .donation {
    &__content {
      flex-direction: column-reverse;
      margin-bottom: 9.7rem;
      padding: 8rem 11.2rem 0 13.2rem;

      &__image {
        padding-top: 6rem;
      }

      &__info {
        padding-left: 6rem;

        h5 {
          padding-top: 2.2rem;
        }

        p {
          padding-right: 9rem;
        }
      }
    }
  }

  .footer {
    &__content {
      flex-wrap: wrap;

      &-1 {
        margin-top: 3rem;
        margin-left: 6.3rem;
      }

      &-2 {
        margin-top: 3rem;
        margin-right: 6.3rem;
      }

      &-image {
        margin-top: 6.2rem;
        margin-left: 23.3rem;
      }
    }
  }
}

//---MOBILE---
@media screen and (max-width: 767px) {

  body {

    #burger-fade {
      display: none;
      position: fixed;
      width: 76.7rem;
      height: 80rem;
      background-color: #292929;
      opacity: .6;
    }

    #burger-fade.show {
      display: block;
    }

    .burger-wrapper {
      display: flex;
      justify-items: right;
    }

    .burger-logo {
      display: none;
    }

    .burger-menu {
      float: right;
      align-items: flex-end;
      flex-flow: column-reverse;
      justify-content: center;
      position: absolute;
      display: flex;
      width: 32rem;
      padding-right: 4rem;
      top: 25rem;
      text-align-last: center;
    }

    #burger-menu-bg.show {
      right: 0;

      //COZY HOUSE LOGO
      .burger-logo {
        display: flex;
        flex-direction: column;
        margin-right: 12rem;
        width: 30rem;
        height: 6rem;
        align-items: center;
        margin-top: 3rem;

        &__title {
          color: $color-primary;
          @include logo-title;
          white-space: nowrap;

        }

        &__subtitle {
          margin-top: 10px;
          color: $color-light-xl;
          text-align: center;
          @include logo-subtitle;
        }
      }

      // list of burger menu
      #burger-menu-list {
        visibility: visible;
        display: grid;
        grid-gap: 4rem;
        @include paragraph-mobile-menu;

        .burger-list__item {
          list-style: none;

          a {
            text-decoration: none;
            color: $color-dark-s;
          }

          .list__link_active {
            color: $color-light-s;
            border-bottom: solid 3px $color-primary;

            &:hover {
              border-bottom: transparent;
            }
          }
          .list__link_disabled {
            color: $color-dark-s;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .burger-button {
      display: block;
      visibility: visible;
      right: 5rem;
      position: fixed;
      top: 5rem;
      transition: 600ms;

      &:hover {
        cursor: pointer;
      }

    }

    #burger-menu-list {
      visibility: collapse;
    }

    #burger-menu-bg.close {
      right: -3000;
      transition: 600ms;
    }
  }

  .wrapper {
    width: 32rem;
  }

  header {
    padding-top: 3rem;
    padding-left: 1rem;
  }

  .header.hide {
    transition: 600ms;
    -webkit-transform: translateY(-45rem);
  }

  .logo {
    margin-right: 4rem;
  }

  .menu {
    height: 2rem;
    justify-content: center;
    position: fixed;

    .list {
      //display: none;
      visibility: hidden;
    }

    .burger-button {
      position: relative;
      height: 22px;
      visibility: visible;
      margin-top: 2rem;
    }

    .menu-bg {
      width: 0;
      height: 0;
    }

  }

  .show {
    .burger-button {
      transform: rotate(90deg);
    }

  }

  .hero {
    &__wrapper {
      align-items: center;
      margin-top: 3rem;

    }

    &__content {
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 29.6rem;
      height: 30rem;
    }

    &__title {
      text-align: center;
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
      width: 20rem;
      letter-spacing: 0.14rem;
    }

    &__subtitle {
      margin: 0;

      span {
        padding-left: 1.7rem;
      }
    }

    &__button {
      margin: 0 0 0.4rem;
    }

    .puppy-bg {
      padding: 0;
      width: 26rem;
      margin-top: 10.3rem;
      margin-left: 4rem;

    }
  }

  .about {
    &__wrapper {
      padding: 0;
      margin-bottom: 4.1rem;
    }

    &__content {
      align-items: center;
    }

    &__title {
      letter-spacing: 0.15rem;
      margin-top: 4.3rem;
      font-size: 2.5rem;
      text-align: center;
    }

    &__description {
      p {
        &:nth-child(2) {
          margin-top: 2rem;
        }

        width: 27rem;
        text-align: justify;
      }
    }

    &__image-wrapper {
      align-self: center;
      padding-left: 0;
      padding-top: 4rem;
    }

    &__image {
      width: 26rem;
    }


  }

  .pets {
    padding-top: 4.2rem;
    padding-bottom: 4rem;

    &__title {
      font-size: 2.5rem;

      span {
        letter-spacing: 0.15rem;
      }
    }

    &__content {
      flex-flow: wrap;
      justify-content: center;

      .slider-button {
        margin-right: 8rem;
      }

      &__cards {
        order: -1;
        padding: 4.4rem 0 2rem;

        .card:nth-child(1) {
          margin: 0;
        }

        .card:nth-child(2) {
          display: none;
        }
      }
    }

    &__button {
      margin-top: 4.2rem;
    }
  }

  .help {
    padding-top: 4.1rem;

    &__wrapper {
      margin-bottom: 5rem;
    }

    &__title {
      font-size: 2.5rem;
      letter-spacing: 0.15rem;
    }

    &__content {
      //flex-direction: column;
      width: 29rem;
      height: 55.5rem;
      display: grid;
      grid-template-columns: 1fr 13rem;
      grid-gap: 2rem;
      margin-top: 4.2rem;

      .help__item {
        align-items: center;

        &:nth-child(n) {
          padding: 0;
        }

        &:nth-child(n+3) {
          margin-top: 1rem;
        }

        h4 {
          font-size: 1.5rem;
        }

        h4:nth-child(n) {
          margin-top: 1rem;
        }


        //h4:nth-child(3) {
        //  margin-top: 2rem;
        //}

      }

      .help__icon {
        max-width: 5rem;
        max-height: 5rem;
      }
    }


  }

  .donation {
    &__content {
      padding: 4rem 0 0;
      margin-bottom: 3.9rem;


      &__info {
        align-items: center;
        width: 30rem;
        height: 28.1rem;
        padding: 0;

        h3 {
          font-size: 2.5rem;
          letter-spacing: 0.15rem;
          text-align: center;
        }

        h5 {
          margin-bottom: 2.1rem;
          letter-spacing: 0;
        }


        p {
          padding-right: 0;
        }
      }

      .donation__credit {
        width: 28.1rem;
        margin: 0;
        padding-top: 1.2rem;
        padding-left: 0.3rem;

        a {
          font-size: 15px;
        }
      }

      &__image {
        padding-top: 4.3rem;
        padding-left: 2rem;

        img {
          width: 26rem;
        }
      }
    }
  }

  .footer {

    &__content {
      &-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;

        h3 {
          font-size: 2.5rem;
          letter-spacing: 0.15rem;
          text-align: center;
        }
      }

      &-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;

        margin-top: 1rem;
        margin-right: 0;

        &__address {
          margin-top: 4rem;
        }

        &__city {
          margin-top: 4rem;
          margin-right: 3rem;
        }


        h3 {
          font-size: 2.5rem;
          letter-spacing: 0.15rem;
          text-align: center;
          max-width: 27.5rem;

          span {
            display: inline;
          }
        }
      }

      &-image {
        margin-top: 2.7rem;
        margin-right: 0;
        margin-left: 3rem;

        img {
          width: 26rem;
        }
      }
    }
  }
}


